.dashboardLinks{
    color: rgb(15, 14, 14) !important;
    text-decoration: none !important;
  }
  
  .cardHeader {
    background-Color: #16537e !important;
    color: white !important;
  }

  html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  button[aria-label="Switch to dark mode"] {
    display: none !important;
  }

  .tarjetaCrucero {
    /* padding: 50px; */
    /* background-color: green; */
    transition: transform .5s ease, box-shadow 0.5s ease; /* Animation */
    /* width: 200px; */
    /* height: 200px;  */
    margin: 0 auto;
  }
  
  .tarjetaCrucero:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

    /* Estilo para las opciones seleccionadas del listbox de habitaciones
    disponibles en "Crear Reserva"*/

    .p-listbox .p-listbox-item.p-highlight {
      background-color: #ADD8E6;
      /* Cambiar el color de fondo de la opción seleccionada */
      color: black;
      /* Cambiar el color del texto */
    }
  
    .p-listbox-item {
      cursor: pointer;
      /* Mostrar el puntero al pasar el mouse */
    }
  