.dashboardLinks{
    color: rgb(15, 14, 14) !important;
    text-decoration: none !important;
  }
  
  .cardHeader {
    background-Color: #16537e !important;
    color: white !important;
  }

  html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  button[aria-label="Switch to dark mode"] {
    display: none !important;
  }

  .imagen {
    /* padding: 50px; */
    /* background-color: green; */
    transition: transform .5s; /* Animation */
    width: 200px;
    height: 200px; 
    margin: 0 auto;
  }
  
  .imagen:hover {
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

    /* Estilo para las opciones seleccionadas del listbox de habitaciones
    disponibles en "Crear Reserva"*/

    .p-listbox .p-listbox-item.p-highlight {
      background-color: #ADD8E6;
      /* Cambiar el color de fondo de la opción seleccionada */
      color: black;
      /* Cambiar el color del texto */
    }
  
    .p-listbox-item {
      cursor: pointer;
      /* Mostrar el puntero al pasar el mouse */
    }
  